@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 41, 80);
    margin: 0;
    color: white;
}
:root {
    --hours_size: 55px;
    --height_col: 100px;
}
* {
    box-sizing: border-box;
}

#top_menu {
    width: 100%;
    position: sticky;
    top: -1px;
    z-index: 1000;
    background-color: rgb(43, 41, 80);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    // height: ;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 6px 0;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 8px;
    .text {
        color: white;
        font-size: 20px;
        margin: 0;
    }
    .change_week {
        background: none;
        border: none;
        i {
            color: white;
            font-size: 24px;
        }
    }
}
#day_indicator {
    display: flex;
    align-items: center;
    .clock_box {
        width: var(--hours_size);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 22px;
        -webkit-text-stroke: .5px white;
    }
    .day_box {
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: white;
        width: calc((100% - var(--hours_size)) / 7);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
            aspect-ratio: 1;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    // .day_box:nth-child(odd) {
    //     background: red;
    // }
}

.actual_day {
    p {
        background: rgba(255, 255, 255, 0.15);
    }
}

#day_box {
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

#hours_day {
    width: calc(100% - var(--hours_size));
    .row {
        display: grid;
        grid-template-columns: repeat(7, calc(100% / 7));
        height: var(--height_col);
        // border-bottom: 1px black solid;
        .box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            // DEV - Sprawdzic 
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        // .box:nth-child(even) {
        //     background: red;
        // }
    }
    .row:nth-child(odd) {
        background: rgb(54, 50, 88);
    }
}

#spacer {
    width: 2px;
    height: 100vh;
    top: 0;
    left: calc(var(--hours_size) - 2px);
    position: fixed;
    background: white;
}


#hours {
    position: relative;
    // z-index: 25;
    // border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--hours_size);
    .indicator {
        display: flex;
        justify-content: flex-end;
        // background-color: aqua;
        height: var(--height_col);
        .hour_box {
            position: relative;
            .minutes {
                width: 7px;
                height: 2px;
                background: rgba(255, 255, 255, 0.5);
                transform: translateX(100%);
                top: 50%;
                right: -6px;
                border-radius: 0 2px 2px 0;
                position: absolute;
            }
        }
        p {
            position: relative;
            text-align: left;
            margin: 0;
            transform: translateY(-50%);
            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 3px;
                background: white;
                top: 50%;
                border-radius: 0 2px 2px 0;
                right: 0;
                transform: translateY(-50%) translateX(calc(200% - 2.5px));
            }
        }
    }
}

#time_indicator {
    --color: red;
    position: absolute;
    z-index: 500;
    transform: translateY(0px);
    top: 0;
    margin-top: 15px;
    width: calc(100vw - var(--hours_size));
    right: 0;
    height: 3px;
    background: var(--color);
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        top: 50%;
        transform: translateX(-22.5%) translateY(-50%);
        clip-path: polygon(0 0, 50% 50%, 0 100%);
        aspect-ratio: 1;
        background-color: var(--color);
    }
}

.event {
    background: peru;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
}